
.grid-container-service {
    display: grid;
    column-gap: 50px;
    row-gap: 50px;
    grid-template-columns: 300px 300px;
    padding: 10px;
  }


  .fs-1{
    text-align: center;
    
  }

  .grid-item-service {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  
  }

  /* Responsive layout for tablets */
@media (max-width: 768px) {
    .grid-container-service {
        grid-template-columns: 1fr;
    }
}

/* Responsive layout for mobile phones */
@media (max-width: 480px) {
    .grid-item-service {
        padding: 10px;
    }
    
  }
